<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.elearnever.android"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".ElearneverActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Read"
        		android:configChanges="keyboardHidden|orientation">
        
        </activity>
        
        <activity android:name=".Reader"
        		android:configChanges="keyboardHidden|orientation">
        </activity>       
        
       	<activity android:name=".Contact"
       			android:label="تماس با ما"
        		android:configChanges="keyboardHidden|orientation">
        </activity>  
        
        <activity android:name="About"
        		android:label="درباره محتوای آموزشی"
        		android:theme="@android:style/Theme.Dialog"
        		android:configChanges="keyboardHidden|orientation">
        </activity>

    </application>
</manifest>