[project]
	description = A Simple Content Reader with multimedia features (like Ebook Readers)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Milad Khajavi (khajavi)
[access "refs/for/refs/*"]
	read = group user/Milad Khajavi (khajavi)
	push = group user/Milad Khajavi (khajavi)
	label-Code-Review = -2..+2 group user/Milad Khajavi (khajavi)
	label-Verified = -1..+1 group user/Milad Khajavi (khajavi)
	rebase = group user/Milad Khajavi (khajavi)
	removeReviewer = group user/Milad Khajavi (khajavi)
	submit = group user/Milad Khajavi (khajavi)
[access "refs/heads/*"]
	read = group user/Milad Khajavi (khajavi)
	create = group user/Milad Khajavi (khajavi)
	push = +force group user/Milad Khajavi (khajavi)
	pushMerge = group user/Milad Khajavi (khajavi)
[access "refs/tags/*"]
	push = +force group user/Milad Khajavi (khajavi)
	pushTag = group user/Milad Khajavi (khajavi)
	pushSignedTag = group user/Milad Khajavi (khajavi)
